@font-face {
    font-family: laleh;
    src: url(../font/Lalezar-Font/OTF/Lalezar-Regular.otf);
    src: url(../font/Lalezar-Font/TTF/Lalezar-Regular.ttf);
}


@font-face {
    font-family: iran;
    src: url(../font/A-Iranian-Sans/Iranian\ Sans.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: laleh;
    color: #fff;
}






.menu {
    position: absolute;
    width: 100%;
    height: auto;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-right img {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid gray;
    margin: 30px;
}







.menu-left {
    display: flex;
    justify-content: left;
    align-items: center;

}

.menu-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid gray;
    margin: 30px;
}











.menu-list {
    list-style-type: none;
}

.menu-list li {
    float: right;
}

.menu-list-a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.menu-list-a:hover {
    color: black;
    background-color: #fffafa;
}

.menu-list-a {
    text-decoration: none;
    color: #fff;
    font-family: laleh;

}



/* /* ///////////////////////////////////////////////////////////////// */

.nav-text {
    background-image: url(/imags/start-programming.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    height: 800px;
}


.text-top {
    font-size: 80px;
    font-family: laleh;
    color: #fff;
    margin-right: 50px
}

.text-about {
    width: 50%;
}

.text-about {
    margin-right: 80px;
    text-align: justify;
    line-height: 30px;
}

.text-about span {
    font-size: 15px;
    font-family: iran;
    font-weight: bold;
}


.display-flex {
    display: flex;
}


.image-lap-top img {
    margin-right: 80px;
    color: #999999;
    background-blend-mode: color-burn;
    margin-top: -100px;
    position: absolute;
    border-radius: 5px;

}


/* //////////////////////////////////////////////////// */



.about-me-top {
    text-align: center;
    margin: 80px;

}

#about-me-text-top {
    font-size: 50px;
    color: #fff;

}


.about-me {
    display: flex;
    height: 800px;
    background-image: url(/imags/backgrond.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box-about-me{
    width: 80%;
    
}


.about-me-right span{
}